@import './styles/util';

:root {
  --extra-title-bar-height: 0px;
  --action-bar-height: 75px;
}

html,
body,
#root {
  height: 100%;
  background: transparent !important;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

p {
  margin-bottom: 0.5em;
}

p:last-of-type {
  margin-bottom: 0;
}

@sidebar-width: 200px;
@divider-border: 1px solid #ddd;

@color-primary: #1890ff;
@color-secondary: #999;
@color-green: #4fb24f;
@color-red: #e23a36;

.ant-layout {
  background-color: #fff;
  user-select: none;

  &.platform-mac {
    --extra-title-bar-height: 28px;
  }

  &.platform-win {
    border-top: @divider-border;
  }

  &.ant-layout-has-sider {
    height: 100%;
    background-color: transparent !important;

    .sidebar.ant-layout-sider {
      user-select: none;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      padding-top: var(--extra-title-bar-height);

      .ant-layout-sider-children {
        overflow-x: hidden;
      }
    }
  }
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.ant-menu-vertical .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-inline .ant-menu-item:after {
  border-right: none;
}

.ant-menu-item-group .ant-menu-item-group-title {
  padding-left: 24px;
}

.menu-sub-item-title {
  display: inline-block;
  width: calc(100% - 32px);
  margin-left: 12px;
}

.ant-spin {
  color: inherit;
}

.ant-layout-content {
  // flex: none;
  // width: 100%;
  // height: 100%;
  // flex: 1 0 auto; /* 2 */
  // width: 100%;
}

.full-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  // margin: 32px 42px 16px;
  // padding-bottom: @action-bar-height;
  height: calc(100% - var(--action-bar-height));

  &.no-action-bar {
    // padding-bottom: 0;
    height: 100%;
  }

  img {
    max-width: 100%;
  }

  .content-block {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: var(--extra-title-bar-height);
    // padding-bottom: 32px;
    overflow-y: auto;
    height: 100%;
  }
}

// .center-view {
//   position: absolute;
//   top: 45%;
//   left: calc(50% + 100px);
//   transform: translate(-50%, -50%);

//   @media only screen and (max-width: 767px) {
//     top: 47.5%;
//   }
// }

.action-bar {
  width: 100%;
  height: var(--action-bar-height);
  position: fixed;
  bottom: 0px;
  border-top: @divider-border;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(20px);
  display: flex;

  .info {
    margin: auto 30px auto 30px;

    p {
      font-size: 15px;
    }
  }

  .actions {
    margin: auto (@sidebar-width + 30px) auto auto;

    button {
      margin-left: 8px;
    }

    .action-bar-highlight {
      animation: action-bar-highlight 1s ease-in-out infinite;

      @keyframes action-bar-highlight {
        0% {
          background-color: @color-primary;
        }

        50% {
          background-color: darken(@color-primary, 12%);
        }

        100% {
          background-color: @color-primary;
        }
      }
    }
  }
}

.top-title {
  margin-top: 30px;
  margin-bottom: 12px;
}

.secondary-title {
  margin-top: 24px;
  margin-bottom: 4px;
}

.article {
  border-top: @divider-border;
  margin-top: 15px;
  padding-top: 15px;

  .section-header {
    margin-bottom: 0.5em;
  }

  .section-header:not(:first-of-type) {
    margin-top: 1em;
    // margin-bottom: 1em;
  }
}

.color-green {
  color: @color-green !important;
}

.color-red {
  color: @color-red !important;
}

.color-secondary {
  color: @color-secondary !important;
}

.env-card {
  .ant-card-body {
    padding: 0;

    .env-card-content {
      display: flex;
      padding: 12px 12px 6px;
      transition: opacity 0.15s ease-in-out;

      .icon {
        width: 42px;
        height: 42px;
      }

      .info {
        padding-left: 12px;
        overflow: hidden;

        .name {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 3px;
        }

        .desc {
          color: @color-secondary;
          font-size: 12px;
        }
      }
    }

    .env-card-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #eee;
      padding: 6px 12px;

      .summary {
        font-size: 12px;
        color: @color-secondary;
      }

      .action {
        margin-left: 6px;
      }
    }
  }
}

.env-card-tips {
  max-width: 320px;
  user-select: none;

  p {
    margin-bottom: 0.5em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.env-label {
  display: flex;
  align-items: center;

  .env-label-icon {
    width: 36px;
    height: 36px;
  }

  .env-label-info {
    padding-left: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .env-label-name {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    .env-label-version {
      color: @color-secondary;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
    }
  }
}

.list-hover-action {
  .ant-list-item-action {
    visibility: hidden;
  }

  &:hover .ant-list-item-action {
    visibility: visible;
  }
}

.board-action-card {
  margin-bottom: 12px;

  &:hover {
    border-color: @color-primary;
  }

  .ant-card-body {
    padding: 12px 16px;
    display: flex;
    align-items: center;

    .board-action-card-icon {
      margin-right: 12px;
      height: 30px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .board-action-card-content {
      display: flex;
      flex-direction: column;

      .board-action-card-title {
        font-size: 16px;
        line-height: 24px;
      }

      .board-action-card-desc {
        color: @color-secondary;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}

.terminal-container {
  background: #1e1e1e;

  .xterm .xterm-cursor {
    display: none !important;
  }

  .xterm {
    height: 100%;
    padding: 8px 8px 0px 8px;
  }
}
